## ETL 
###### EXTRACT TRANSFORM LOAD

In [7]:
import pandas as pd

In [8]:
orders_df=pd.read_excel('./running_shoes.xlsx')
orders_df

       Product ID,Category,Product,Size,Last Visited
0  AH2430,Women's,Blazing Trail Shoes,Size 9,2020...
1  G27341,Men's,Forest Trail Shoes,Size 11,2020-0...
2  CM0081,Women's,Swift Running Shoes,Size 7,2020...
3  B44832,Women's,Running Hard Shoes,Size 6,2020-...
4  D98205,Men's,Lite Racing Shoes,Size 10,2020-04...
5  B75586,Men's,Running Rebound Shoes,Size 12,202...
6  CG4051,Women's,Inspired Victory Shoes,Size 8,2...
7  CM0080,Women's,Responsive Trail Shoes,Size 9,2...
8  B75990,Men's,Energy Boost Running Shoes,Size 1...
9  EE5761,Men's,Pure Bouncer Running Shoes,Size 9...

In [7]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 1 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Product ID,Category,Product,Size,Last Visited  10 non-null     object
dtypes: object(1)
memory usage: 208.0+ bytes

In [8]:
#convert our pd series to a list, then we are going to iterate over each string to split this into a new list

In [4]:
shoe_order_cols=orders_df.columns.tolist()
shoe_order_cols

['Product ID,Category,Product,Size,Last Visited']

In [5]:
shoe_order_cols[0]

'Product ID,Category,Product,Size,Last Visited'

In [6]:
new_columns=shoe_order_cols[0].split(',')
new_columns

['Product ID', 'Category', 'Product', 'Size', 'Last Visited']

In [61]:
orders_df.values.tolist() 
#creates a list of lists that in turn have only 1 item

[['AH2430',
  "Women's",
  'Blazing Trail Shoes',
  9,
  Timestamp('2020-04-13 15:06:15')],
 ['G27341',
  "Men's",
  'Forest Trail Shoes',
  11,
  Timestamp('2020-04-13 15:06:18')],
 ['CM0081',
  "Women's",
  'Swift Running Shoes',
  7,
  Timestamp('2020-04-13 15:06:20')],
 ['B44832',
  "Women's",
  'Running Hard Shoes',
  6,
  Timestamp('2020-04-13 15:06:23')],
 ['D98205',
  "Men's",
  'Lite Racing Shoes',
  10,
  Timestamp('2020-04-13 15:06:26')],
 ['B75586',
  "Men's",
  'Running Rebound Shoes',
  12,
  Timestamp('2020-04-13 15:06:30')],
 ['CG4051',
  "Women's",
  'Inspired Victory Shoes',
  8,
  Timestamp('2020-04-13 15:06:33')],
 ['CM0080',
  "Women's",
  'Responsive Trail Shoes',
  9,
  Timestamp('2020-04-13 15:06:36')],
 ['B75990',
  "Men's",
  'Energy Boost Running Shoes',
  13,
  Timestamp('2020-04-13 15:06:40')],
 ['EE5761',
  "Men's",
  'Pure Bouncer Running Shoes',
  9,
  Timestamp('2020-04-13 15:06:45')]]

In [9]:
new_data=[]
for item in orders_df.values.tolist():
    new_data.append(item[0].split(','))
new_data

[['AH2430', "Women's", 'Blazing Trail Shoes', 'Size 9', '2020-04-13T15:06:15'],
 ['G27341', "Men's", 'Forest Trail Shoes', 'Size 11', '2020-04-13T15:06:18'],
 ['CM0081', "Women's", 'Swift Running Shoes', 'Size 7', '2020-04-13T15:06:20'],
 ['B44832', "Women's", 'Running Hard Shoes', 'Size 6', '2020-04-13T15:06:23'],
 ['D98205', "Men's", 'Lite Racing Shoes', 'Size 10', '2020-04-13T15:06:26'],
 ['B75586',
  "Men's",
  'Running Rebound Shoes',
  'Size 12',
  '2020-04-13T15:06:30'],
 ['CG4051',
  "Women's",
  'Inspired Victory Shoes',
  'Size 8',
  '2020-04-13T15:06:33'],
 ['CM0080',
  "Women's",
  'Responsive Trail Shoes',
  'Size 9',
  '2020-04-13T15:06:36'],
 ['B75990',
  "Men's",
  'Energy Boost Running Shoes',
  'Size 13',
  '2020-04-13T15:06:40'],
 ['EE5761',
  "Men's",
  'Pure Bouncer Running Shoes',
  'Size 9',
  '2020-04-13T15:06:45']]

In [10]:
orders_df=pd.DataFrame(new_data,columns=new_columns)
orders_df

,Product ID,Category,Product,Size,Last Visited
0,AH2430,Women's,Blazing Trail Shoes,Size 9,2020-04-13T15:06:15
1,G27341,Men's,Forest Trail Shoes,Size 11,2020-04-13T15:06:18
2,CM0081,Women's,Swift Running Shoes,Size 7,2020-04-13T15:06:20
3,B44832,Women's,Running Hard Shoes,Size 6,2020-04-13T15:06:23
4,D98205,Men's,Lite Racing Shoes,Size 10,2020-04-13T15:06:26
5,B75586,Men's,Running Rebound Shoes,Size 12,2020-04-13T15:06:30
6,CG4051,Women's,Inspired Victory Shoes,Size 8,2020-04-13T15:06:33
7,CM0080,Women's,Responsive Trail Shoes,Size 9,2020-04-13T15:06:36
8,B75990,Men's,Energy Boost Running Shoes,Size 13,2020-04-13T15:06:40
9,EE5761,Men's,Pure Bouncer Running Shoes,Size 9,2020-04-13T15:06:45

In [63]:
orders_df=pd.read_excel('running_shoes.xlsx')
new_columns=orders_df.columns.str.split(',').tolist()[0]
new_data=orders_df.iloc[:,0].str.split(',').tolist()
orders_df=pd.DataFrame(new_data,columns=new_columns)
orders_df.columns

Index(['Product ID', 'Category', 'Product', 'Size', 'Last Visited'], dtype='object')

In [46]:
orders_df.columns=orders_df.columns.str.lower().str.replace(' ','_')
orders_df

,product_id,category,product,size,last_visited
0,AH2430,Women's,Blazing Trail Shoes,Size 9,2020-04-13T15:06:15
1,G27341,Men's,Forest Trail Shoes,Size 11,2020-04-13T15:06:18
2,CM0081,Women's,Swift Running Shoes,Size 7,2020-04-13T15:06:20
3,B44832,Women's,Running Hard Shoes,Size 6,2020-04-13T15:06:23
4,D98205,Men's,Lite Racing Shoes,Size 10,2020-04-13T15:06:26
5,B75586,Men's,Running Rebound Shoes,Size 12,2020-04-13T15:06:30
6,CG4051,Women's,Inspired Victory Shoes,Size 8,2020-04-13T15:06:33
7,CM0080,Women's,Responsive Trail Shoes,Size 9,2020-04-13T15:06:36
8,B75990,Men's,Energy Boost Running Shoes,Size 13,2020-04-13T15:06:40
9,EE5761,Men's,Pure Bouncer Running Shoes,Size 9,2020-04-13T15:06:45

In [47]:
orders_dff=orders_df.rename(columns={
    'Product ID':'productID',
    'Category':'category',
    'Product':'producttt',
    'Size':'size',
    'Last Visited':'lastvisited'
})
orders_dff

,product_id,category,product,size,last_visited
0,AH2430,Women's,Blazing Trail Shoes,Size 9,2020-04-13T15:06:15
1,G27341,Men's,Forest Trail Shoes,Size 11,2020-04-13T15:06:18
2,CM0081,Women's,Swift Running Shoes,Size 7,2020-04-13T15:06:20
3,B44832,Women's,Running Hard Shoes,Size 6,2020-04-13T15:06:23
4,D98205,Men's,Lite Racing Shoes,Size 10,2020-04-13T15:06:26
5,B75586,Men's,Running Rebound Shoes,Size 12,2020-04-13T15:06:30
6,CG4051,Women's,Inspired Victory Shoes,Size 8,2020-04-13T15:06:33
7,CM0080,Women's,Responsive Trail Shoes,Size 9,2020-04-13T15:06:36
8,B75990,Men's,Energy Boost Running Shoes,Size 13,2020-04-13T15:06:40
9,EE5761,Men's,Pure Bouncer Running Shoes,Size 9,2020-04-13T15:06:45

In [48]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    10 non-null     object
 1   category      10 non-null     object
 2   product       10 non-null     object
 3   size          10 non-null     object
 4   last_visited  10 non-null     object
dtypes: object(5)
memory usage: 528.0+ bytes

In [53]:
orders_df['size']=orders_df['size'].str.replace('Size ','').astype('int')
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    10 non-null     object
 1   category      10 non-null     object
 2   product       10 non-null     object
 3   size          10 non-null     int64
 4   last_visited  10 non-null     object
dtypes: int64(1), object(4)
memory usage: 528.0+ bytes

In [56]:
orders_df['last_visited']=pd.to_datetime(orders_df['last_visited'],format='%Y-%m-%dT%H:%M:%S')

In [57]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    10 non-null     object
 1   category      10 non-null     object
 2   product       10 non-null     object
 3   size          10 non-null     int64
 4   last_visited  10 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 528.0+ bytes